@import url(https://fonts.googleapis.com/css?family=Orbitron);
* {
    
    font-family: 'Orbitron', sans-serif;
   color: black;
   padding: 0;
   margin: 0;

}

fieldset {
    border: 0;

}
img{
	align-self: center;
}
h1{
    font-size: 4em;

}
h2{
    font-size: 28px;
    text-align: center;
}
a{
    text-decoration: none;
}
p{
    font-size: 20px;
}

body{
	 background-image: url("../img_7360.jpg")  ;
     background-repeat: no-repeat;
     background-position: center ;
}


/*==  classes ++*/

.superior a {
    font-size: 28px;
    text-align: center;
}

.meio{
    font-size: 20px;
    padding:1px;
    margin:5px;
}

.campo {
    font-size: 20px;
    margin: 1px;
    padding:1px;
}
 
.campo label {
    margin-bottom: 0.2em;
    color: black;
    display: block;
}

.grupo:before, .grupo:after {
    content: " ";
    display: table;
}

.campo input[type="text"],
.campo select,
.campo textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    display: block;
    background-color: lightskyblue;
}

select, label,.checkbox {
    cursor: pointer;
}
option{
	float: left;
}



/*==  menu ++*/



       <style type="text/css">
           
           @import url(https://fonts.googleapis.com/css?family=Orbitron);
body {
    font-family: 'Orbitron', sans-serif; 
    font-size: 16px;    
}
.nav{
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav li{
    float: left;
    width: 303px;
    position: relative;
}
.nav li a{
    background: #333;
    color: #fff;
    display: block;
    padding: 15px 8px;
    text-decoration: none;
    border-top: 1px solid #069;
}
.nav li a:hover{
    color: #069;
}
/*== sub menu ++*/
.nav ul{
    display: none;
    position: absolute;
    left: 0;
    list-style: none;
    padding: 0;
}
.nav ul li{
    width: 303px;
    float: left;
}
.nav ul a{
    display: block;
    height: 15px;
    padding:15px 8px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #222;
}
.nav ul a:hover{
    color: #069;
}